.label {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.root {
  --badge-bg: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  --badge-bd: light-dark(
    1px solid var(--mantine-color-dark-1),
    1px solid var(--mantine-color-gray-8)
  );
  cursor: pointer;
  transition: background-color 0.2s ease;
  transform: translateZ(0);
}

.root:hover {
  --badge-bg: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
}

.paper {
  position: relative;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition:
    background 120ms ease,
    transform 120ms ease,
    box-shadow 120ms ease;
}
.paper::after {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: inherit;

  background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet, red);
  background-size: 300% 100%;
  animation: rainbowShimmer 5s linear infinite;

  padding: 2px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  opacity: 0;
  transition: opacity 200ms ease;
  pointer-events: none;
}

.paper:hover::after {
  opacity: 1;
}

@keyframes rainbowShimmer {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 300% 0;
  }
}

.actionIcon {
  position: absolute;
  top: 4px;
  right: 2px;
  opacity: 0;
  transition: opacity 150ms ease;
}

.paper:hover .actionIcon {
  opacity: 1;
}

.fitContent {
  height: fit-content;
  width: fit-content;
}
